.navbar {
    background-color: black;
    
}

.navbarmenu {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navlogo {
    margin-right: 50%;
    width: 100px;
    height: auto;
    
}
.item {
    margin: 10px;
    font-size: 1.5rem;
    
}
.enlace {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.enlace:hover {
    color: #168aad;
}
